<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
<h:outputStylesheet name="CSS/main.css"></h:outputStylesheet> 
</h:head> 
<ui:composition template="/welcomeV1.xhtml">
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/main.css"></h:outputStylesheet>
		</ui:define>
		
		<ui:define name="myContent">
			<div class="cart-products">
					<div class="row">
			<h:form>
				<ui:repeat var="product" value="#{catalogueMBean.productsInCart}">
							<h:commandLink action="#{catalogueMBean.doGetProductDetails(product)}">
								<h1>#{product.name}</h1>
								<div >
									<h:graphicImage class="" height="100"
										url="images/#{product.image}" alt="photo du produit" />
								</div>
							</h:commandLink>
							<div>	
								Prix :<h:outputText styleClass="myLabel" value="#{product.price}">
									<f:convertNumber pattern="#0.00" />
								</h:outputText> €
								
							</div>
								<br />
							<div>	
								<h:commandButton value="-" action="#{catalogueMBean.doDecreaseCart(product)}">
								</h:commandButton>
								<h:outputText styleClass="myLabel" value="#{catalogueMBean.calculateQuantity(product)}"/>
								<h:commandButton value="+" action="#{catalogueMBean.doIncreaseCart(product)}">
								</h:commandButton>
							</div>
							<div>
								Total : <h:outputText styleClass="myLabel" value="#{catalogueMBean.calculateAmount(product)}">
									<f:convertNumber pattern="#0.00" />
								</h:outputText> €
							</div>
							<h:commandButton value="supprimer" action="#{catalogueMBean.doRemoveFromCart(product)}">
							</h:commandButton>
				</ui:repeat>
				<div>
					<center>
					Total order amount : <h:outputText value="#{catalogueMBean.calculateTotalAmount()}">
										<f:convertNumber pattern="#0.00" />
									</h:outputText> €
						<h:commandButton value="valider" action="#{catalogueMBean.doCartValidation}">
						</h:commandButton>
					</center>
				</div>
				<div>
				</div>
			</h:form>
					</div>
		</div>
		</ui:define>
		
</ui:composition>
</html>
