<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">


	<ui:composition template="welcomeV1.xhtml">
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/main.css"></h:outputStylesheet>
		</ui:define>
		
			<ui:define name="myContent">	
			<div id="ourContent">
				<h:form enctype="multipart/form-data" id="formAdd">
					Nom de l'article : 	<h:inputText value="#{mbProductPerso.ppd.name}"></h:inputText>
					Description : 		<h:inputTextarea value="#{mbProductPerso.ppd.description}" cols="30" rows="10" />
					Prix : 				<h:inputText type="number" value="#{mbProductPerso.ppd.price}"></h:inputText><br/>
					CatĂ©gorie : <h:selectOneMenu value="#{mbProductPerso.category}">
							    <f:selectItems value="#{mbProductPerso.categories}" var="category" itemValue="#{category.id}" itemLabel="#{category.name}" />
							</h:selectOneMenu>
					Information Prise de contact<h:inputTextarea value="#{mbProductPerso.ppd.commentaire}" cols="30" rows="5" />
					<h:commandButton value="Enregistrer" action="#{mbProductPerso.doAddProductPerso}" />
				</h:form>		
				</div>		
			</ui:define>	
		
</ui:composition>



</html>