<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<h:outputStylesheet name="CSS/main.css"></h:outputStylesheet>
</h:head>
<ui:composition template="/welcomeV1.xhtml">
	<ui:define name="CSS">
		<h:outputStylesheet name="CSS/main.css"></h:outputStylesheet>
	</ui:define>

	<ui:define name="myContent">
		<h:form>
		
			<div class="product-card">
			
				<div class="product-images">
					<h:graphicImage class="main-photo" url="images/#{catalogueMBean.currentProduct.image}" alt="photo du produit" />
					
				</div>
				
				<div class="product-attributes">
					<div>
						<h1>#{catalogueMBean.currentProduct.name}</h1>
					</div>
					<div>
						<h:outputText value="#{catalogueMBean.currentProduct.description}"/>
					</div>
					<div >
						<h:outputText value="#{catalogueMBean.currentProduct.price}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText> €
						<div class="promo-value">
						<h:outputText  value="#{catalogueMBean.getPromo(catalogueMBean.currentProduct)}" />
						</div>
					</div>
						<div class="new-price">
						<h:outputText value="#{catalogueMBean.calculateNewPrice(catalogueMBean.currentProduct)}"/>
						</div>
						<h:commandButton value="ajouter"
								actionListener="#{catalogueMBean.doAddToCart(catalogueMBean.currentProduct)}">
						</h:commandButton>
				</div>

			</div>
<!-- DEBUT ESPACE DE COMMENTAIRES SUR L'ARTICLE - PARTIE JAVA - -->
				<div class="comments">

						<div>
							<h2>Commentaires</h2>
							<div class="product-comments-list">
								<div class="product-comments">
									<ui:repeat var="comment" value="#{messageMBean.doGetComments()}">
										<tr>
											<br/>
											<td>De : </td>
											<td>#{comment.idClient}</td>
											<br/>
											<td>Le : </td>
											<td>#{comment.dateDuJour}</td>
											<br/>
											<td>#{comment.txtMessage}</td>
											<br/>
										</tr>
									</ui:repeat>
								</div>
							</div>
							<br/><br/>
							<div class="submit-comment">
								Votre commentaire : 
								<h:inputText value="#{messageMBean.mycomment}" cols="10" rows="5" required="true"/>
                                <h:commandButton value="Envoyer" action="#{messageMBean.doAddComment()}"/>
							</div>
						</div>
                    </div>
<!-- FIN ESPACE DE COMMENTAIRES SUR L'ARTICLE-->
			
<!-- <!-- DEBUT ESPACE DE COMMENTAIRES SUR L'ARTICLE - PARTIE JAVASCRIPT - --> -->
<!-- 				<div class="comments"> -->

<!-- 						<div> -->
<!-- 							<h2>Commentaires</h2> -->
<!-- 							<div class="product-comments-list"> -->
<!-- 								<div class="product-comments"> -->
<!-- 									<ui:repeat var="post" value="#{wsPostMBean.doGetPosts()}"> -->
<!-- 										<tr> -->
<!-- 											<br/> -->
<!-- 											<td>De : </td> -->
<!-- 											<td>#{post.idClient}</td> -->
<!-- 											<br/> -->
<!-- 											<td>Le : </td> -->
<!-- 											<td>#{post.dateDuJour}</td> -->
<!-- 											<br/> -->
<!-- 											<td>#{post.txtAvis}</td> -->
<!-- 											<br/> -->
<!-- 										</tr> -->
<!-- 									</ui:repeat> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 							<br/><br/> -->
<!-- 							<div class="submit-comment"> -->
<!-- 								Votre commentaire :  -->
<!-- 								<h:inputText value="#{wsPostMBean.mypost}" cols="10" rows="5" required="true"/> -->
<!--                                 <h:commandButton value="Envoyer" action="#{wsPostMBean.doAddPost()}"/> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!--                     </div> -->
<!-- <!-- FIN ESPACE DE COMMENTAIRES SUR L'ARTICLE--> -->
				
			</h:form>
		</ui:define>

</ui:composition>
</html>
