<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	
	<ui:composition template="/welcomeV1.xhtml">
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/main.css"></h:outputStylesheet>
		</ui:define>
		
		<ui:define name="myContent">
		<div class="product-list">
			<ui:repeat var="product" value="#{mbProductPerso.productPersoDtos}">
				<div class="elt">
					<h:form>
						<h:commandLink >
								<div>
								<h1>#{product.name}</h1>
								</div>
								<div >
									<h:outputText value="#{product.description}">
									</h:outputText> 
								</div>
								<div >
									<h:outputText value="#{product.price}">
										<f:convertNumber pattern="#0.00" />
									</h:outputText> €
								</div>
									<div >
									<h:outputText value="#{product.commentaire}">
									</h:outputText> 
								</div>
							</h:commandLink>
							
					</h:form>
				</div>
			</ui:repeat>
		</div>
			</ui:define>	
</ui:composition>



</html>
