<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	
	<ui:composition template="/welcomeV1.xhtml">
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/main.css"></h:outputStylesheet>
		</ui:define>
		
		<ui:define name="myContent">
		<div class="product-list">
			<ui:repeat var="product" value="#{searchProductMBean.products}">
				<div class="elt">
					<h:form>
						<h:commandLink action="#{catalogueMBean.doGetProductDetails(product)}">
								<div >
									<h:graphicImage class="" height="200"
										url="images/#{product.image}" alt="photo du produit" />
								</div>
								<div>
								<h1>#{product.name}</h1>
								</div>
								<div >
									<h:outputText value="#{product.price}">
										<f:convertNumber pattern="#0.00" />
									</h:outputText> €
								</div>
							</h:commandLink>
							<h:commandButton value="ajouter"
									actionListener="#{catalogueMBean.doAddToCart(product)}">
							</h:commandButton>
					</h:form>
				</div>
			</ui:repeat>
		</div>
			</ui:define>	
</ui:composition>



</html>
