<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<h:outputStylesheet name="CSS/mainAdmin.css"></h:outputStylesheet>
</h:head>
<ui:composition template="/welcomeAdmin.xhtml">
	<ui:define name="CSS">
		<h:outputStylesheet name="CSS/mainAdmin.css"></h:outputStylesheet>
	</ui:define>
	<ui:define name="myContent">
	<div id="ourContent">
		#{wsStockMBean.init()}
		<h1>STOCKS :</h1>
		<br />
		<div class="product-list">
			<ui:repeat var="stock" value="#{wsStockMBean.stocks}">
				<div class="elt">
					<h:form>
							Produit :<h:outputText styleClass="h1" value="#{stock.idProduit}"/><br/>
							<h:outputText styleClass="h1" value="#{wsStockMBean.getName(stock.idProduit)}"/><br/><br/>
							<h:outputText value="#{stock.price}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText> €
							<br />
							En stock :<h:outputText value="#{stock.quantity}"/><br />
							Stock minimum : <h:outputText value="#{stock.quantityMin}"/><br />

							
				
					</h:form>
				</div>
			</ui:repeat>
		</div>
	</div>

	</ui:define>

</ui:composition>
</html>
