<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
<h:outputStylesheet name="CSS/main.css"></h:outputStylesheet> 
</h:head> 
<ui:composition template="/welcomeV1.xhtml">
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/main.css"></h:outputStylesheet>
		</ui:define>
		
		<ui:define name="myContent">
			<div class="cart-products">
					<div class="column">
			<h:form>
				Total order amount : <h:outputText value="#{catalogueMBean.calculateTotalAmount()}">
									<f:convertNumber pattern="#0.00" />
								</h:outputText> €<br/><br/>
				card No. #{catalogueMBean.client.bankCard[0].number}"
				
				<h:commandButton value="payer" action="#{catalogueMBean.doCartPayment}">
				</h:commandButton>
			</h:form>
					</div>
		</div>
		</ui:define>
		
</ui:composition>
</html>
