<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<title>BOUTIQUE SPORT</title>
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="CSS/main.css" />
</h:head>
<h:body class="homepage is-preload">
	<div id="page-wrapper">
		<!-- Header -->
		<section id="header" class="wrapper"> 
		<div id="userLogin">
			Bonjour , #{catalogueMBean.client.firstName} !
			<br></br>
			nbArticles : #{catalogueMBean.nbProducts()}
			<ui:insert name="userInfo"></ui:insert>
		</div>
		<nav id="nav">
		<div class="logo">
			<a href="welcome.xhtml"><h:graphicImage styleClass="logoPicture"
					value="/images/CourseCircuitLogo.jpg" alt="Insérez ici du contenu" /></a>
		</div>
		<div class="user">
			<a href="login.xhtml"><h:graphicImage value="/images/userv2.png"
					alt="login" /> </a>
		</div>
		
		<div class="panier">
			<a href="panier.html"><h:graphicImage
					value="/images/icon-hl-sac_sport.png" alt="Insérez ici du contenu" />
			</a>
		</div>
		<ul>
			<li class="current"><a href="login.xhtml">login</a></li>
			<li><a href="welcomeAdmin.xhtml">admin</a></li>
			<li><a href="welcomeV1.xhtml">homeV1</a></li>
			<li><a href="welcome2.xhtml">promotions</a></li>
			<li><a href="printArticles.html">Tous les sports</a></li>
			<li><a href="#">Femme</a>
				<ul>
					<li>Sportwear
						<li><a class="lien" href="#">T-Shirts</a></li>
						<li><a class="lien" href="#">Chaussures</a></li>
						<li><a class="lien" href="#">Leggings</a></li>
						<li><a class="lien" href="#">Pulls</a></li>
						<li><a class="lien" href="#">Joggings</a></li>

					</li>
					<li>Accessoire
						<li><a class="lien" href="#">Ski</a></li>
						<li><a class="lien" href="#">Surf</a></li>
						<li><a class="lien" href="#">Randonnée</a></li>
						<li><a class="lien" href="#">Trek</a></li>
						<li><a class="lien" href="#">Camping</a></li>
					</li>
				</ul></li>
			<li><a href="#">Homme</a>
				<ul>
					<li>Sportwear
						<li><a class="lien" href="#">T-Shirt</a></li>
						<li><a class="lien" href="#">Chaussures</a></li>
						<li><a class="lien" href="#">Leggings</a></li>
						<li><a class="lien" href="#">Pulls</a></li>
						<li><a class="lien" href="#">Joggings</a></li>

					</li>
					<li>Accessoire
						<li><a class="lien" href="#">Ski</a></li>
						<li><a class="lien" href="#">Surf</a></li>
						<li><a class="lien" href="#">Randonnée</a></li>
						<li><a class="lien" href="#">Trek</a></li>
						<li><a class="lien" href="#">Camping</a></li>
					</li>
				</ul></li>
			<li><a href="#">Enfant</a>
				<ul>
					<li>Sportwear
						<li><a class="lien" href="#">T-Shirts</a></li>
						<li><a class="lien" href="#">Chaussures</a></li>
						<li><a class="lien" href="#">Leggings</a></li>
						<li><a class="lien" href="#">Pulls</a></li>
						<li><a class="lien" href="#">Joggings</a></li>

					</li>
					<li>Accessoire
						<li><a class="lien" href="#">Ski</a></li>
						<li><a class="lien" href="#">Surf</a></li>
						<li><a class="lien" href="#">Randonnée</a></li>
						<li><a class="lien" href="#">Trek</a></li>
						<li><a class="lien" href="#">Camping</a></li>
					</li>
				</ul></li>
			<li><a href="#">Accessoires</a>
				<ul>
					<li><a class="lien" href="#">Ski</a></li>
					<li><a class="lien" href="#">Surf</a></li>
					<li><a class="lien" href="#">Randonnée</a></li>
					<li><a class="lien" href="#">Trek</a></li>
					<li><a class="lien" href="#">Camping</a></li>
				</ul></li>
		</ul>
		</nav>

		</section>

		<div id="ourContent" class="">
			<ui:insert name="myContent"></ui:insert>
		</div>
		
		<div class="product-list">
			<ui:repeat var="product" value="#{promotionMBean.products}">
				<div class="elt">
					<h:form>
						<h:commandLink action="productDetails.xhtml">
											<f:setPropertyActionListener value="#{product}"
								target="#{productDetailsMBean.product}"></f:setPropertyActionListener>
							<div >
								<h:graphicImage class="" height="200"
									url="images/#{product.photos[0].path}" alt="photo du produit" />
							</div>
							<h1>#{product.name}</h1>
							<br />
							<h:commandButton value="ajouter"
								actionListener="#{catalogueMBean.doAddToCart(product)}">
							</h:commandButton>
						</h:commandLink>
					</h:form>
				</div>
			</ui:repeat>
		</div>

		<!-- Main -->


	</div>

	<!-- Scripts -->
	<script src="JS/jquery.min.js"></script>
	<script src="JS/jquery.dropotron.min.js"></script>
	<script src="JS/browser.min.js"></script>
	<script src="JS/breakpoints.min.js"></script>
	<script src="JS/util.js"></script>
	<script src="JS/main.js"></script>
</h:body>
</html>
